@model Projekt_MVC.Models.Salon.EditSalonModel

<style>
    body {
        background-color: #d4d4d4;
        color:white;
    }
</style>

<h3 class="display-5 text-center link-dark fw-bold mb-3">Edytuj dane o salonie</h3>
<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form method="post" asp-controller="SalonList" asp-action="EditSalonDetails">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group fw-bold" style="display:none">
                <label asp-for="ID" class="control-label mb-1"></label>
                <input asp-for="ID" readonly class="form-control mb-1" />
               
                <span asp-validation-for="ID" class="text" id="danger"></span>
            </div>
            <div class="form-group fw-bold">
                <label asp-for="Name" class="control-label mb-1"></label>
               @* <input asp-for="Name" class="form-control mb-1" />
                <span asp-validation-for="Name" class="text" id="danger"></span>*@
                @Html.EditorFor(Model => Model.Name, new { htmlAttributes = new { @id="name", @name="name", @required="required" } })
                @Html.ValidationMessageFor(Model => Model.Name)
            </div>
            <div class="form-group fw-bold">
                <label asp-for="Address" class="control-label mb-1"></label>
                <input asp-for="Address" class="form-control mb-1" />
                <span asp-validation-for="Address" class="text" id="danger"></span>
            </div>
            <div class="form-group fw-bold">
                <label asp-for="Phone" class="control-label mb-1"></label>
                <input asp-for="Phone" class="form-control mb-1" />
                <span asp-validation-for="Phone" class="text" id="danger"></span>
            </div>
            <div class="form-group fw-bold">
                <label asp-for="Email" class="control-label mb-1"></label>
                <input asp-for="Email" class="form-control mb-1" />
                <span asp-validation-for="Email" class="text" id="danger"></span>
            </div>
            <div class="form-group fw-bold">
                <label asp-for="OpenHours" class="control-label mb-1"></label>
                <input asp-for="OpenHours" class="form-control mb-1" />
                <span asp-validation-for="OpenHours" class="text" id="danger"></span>
            </div>
            <div class="form-group fw-bold">
                <label asp-for="OpenDays" class="control-label mb-1"></label>
                <input asp-for="OpenDays" class="form-control mb-1" />
                <span asp-validation-for="OpenDays" class="text" id="danger"></span>
            </div>
            <div class="form-group fw-bold">
                <input type="submit" value="Zapisz" class="btn btn-primary btn-lg mx-auto d-block w-50" id="add" />
            </div>
        </form>
    </div>
</div>

<div class="text-center">
    <br />
    <a asp-action="Index">Back to List</a>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
